.mr-16x {
  margin-right: 16px;
}
.ml-16x {
  margin-left: 16px;
}
.flex {
  display: flex;
}
.fr {
  flex-direction: row;
}
.fc {
  flex-direction: column;
}
.fcc {
  justify-content: center;
  align-items: center;
}
.ai-center {
  align-items: center;
}
.jc-center {
  justify-content: center;
}
.grid {
  display: grid;
}
.feature-layout {
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.download-label {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.download-button {
  background-color: #000;
  border-radius: 8px;
  padding: 8px;
  text-decoration: none;
  width: 208px;
  height: 40px;
  font-size: 16px;
  @media only screen and (max-width: 768px) {
    width: 156px;
  }
}

.button-link {
  background: #fff;
  color: #1a94ff !important;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  font-weight: 500;
  align-items: center;
}
.button-link:hover {
  opacity: 0.9;
}
.button-link:hover:after {
  content: "";
  height: 0;
  height: 0;
  margin: 0;
  width: auto;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 16px;
  height: 2px;
  margin-right: 4px;
  margin-left: 4px;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #ebebf0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  content: "";
}

.embla__dot.is-selected {
  width: 24px;
}

.embla__dot.is-selected:after {
  background-color: #1a94ff;
  opacity: 1;
}

.primaryButton {
  background: #1a94ff;
  border-radius: 4px;
  height: 40px;
  min-height: 40px;
  color: #fff;
  border: 0;
  padding: 0 16px;
  cursor: pointer;
  &:hover {
    background: rgba(26, 148, 255, 0.8);
    text-decoration: none;
    color: #fff;
  }
  &:active {
    background: rgba(26, 148, 255, 0.6);
  }
  &:disabled {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.15);
    border-color: transparent;
    cursor: not-allowed;
  }
}

.banner-mobile {
  display: none;
}

@media (max-width: 996px) {
  .banner-desktop {
    display: none;
  }
  .banner-mobile {
    display: block;
  }
}
