.overview-row:hover {
  background-color: rgba(22, 118, 255, 0.1);
}

.overview-description:hover {
  cursor: default;
}

.overview-h1 {
  margin-top: 40px;
}

h1.overview-h1:first-child {
  --ifm-h1-font-size: 2rem;
}

.overview-h2 {
  margin-top: 20px;
}
